body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login > img {
  width: 130px;
  height: 92px;
  margin: 72px 0 94px;
}

.login div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.error-message {
  display: none;
}

.login .error .error-message {
  font-size: 18px;
  color: #fa2f2f;
  display: initial;
}

.login input {
  width: 260px;
  color: #000;
  font: 18px/54px "Roboto", sans-serif;

  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.login .error input {
  background-color: #fdeeee;
  border: 1px solid #fa2f2f;
}

.login input::placeholder {
  color: #aeaeae;
}

.login .error input::placeholder {
  color: #fa2f2f;
}

button {
  width: 109px;
  height: 45px;

  background: #e7e7e7;
  border-radius: 9px;
}

button:hover {
  cursor: pointer;
  color: #e7e7e7;
  background-color: #b93d24;
}

.loader {
  width: 150px;
}

.loading {
  color: #fc4309;
  font-size: 22px;
  font-weight: 700;
}

header {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 0 22px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 75px;
}

ion-icon:hover {
  cursor: pointer;
  color: #b93d24;
}

.huge-icon {
  font-size: 45px;
}

main {
  margin: 106px 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.msg {
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;

  padding: 12px 8px;
}

.status {
  background-color: #dcdcdc;
}

.time {
  color: #aaa;
}

.from,
.to {
  font-weight: 700;
}

.default {
  background-color: #fff;
}

.private {
  background-color: #ffdede;
}

footer {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
  padding: 0 22px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  margin-top: 15px;
}

input {
  width: calc(100vw - 80px);
  font-family: inherit;
  font-size: 18px;
  line-height: 25px;
}

input::placeholder {
  font-style: italic;
}

footer p {
  color: #666;
  font-weight: 300;
  margin-top: 5px;
}

.big-icon {
  font-size: 26px;
}
